CHANNEL=phoenixingwatch

LOCALE=gb-en
TIMEZONE=Europe/London

TELEGRAM=phoenixingai
TWITTER=phoenixingai
# GITHUB=
# DISCORD=https://DISCORD.com
# PODCASRT=https://PODCASRT.com
# MASTODON=mastodon.social/@Mastodon
BLUESKY=phoenixingai

#FOOTER_INJECT=FOOTER_INJECT
#HEADER_INJECT=HEADER_INJECT

NO_FOLLOW=false
NO_INDEX=false
HIDE_DESCRIPTION=false

#TELEGRAM_HOST=telegram.dog
#STATIC_PROXY=""
GOOGLE_SEARCH_SITE=""
COMMENTS="true"
REACTIONS="true"
LINKS="true"
NAVS="true"
RSS_BEAUTIFY="true"
TAGS=""
